/* --------------------------- */
/*  初始化      ------ start --------  */


* {
    /* 文字字型設定 微軟正黑體 */
    font-family: Microsoft JhengHei;
}

/* a 連結統一初始化 */
a {
    text-decoration: none;
    color: black;
}


/* --------------------------- */
/* 頂端固定區   ------ start --------  */


/* 畫面上方固定區 */

.header-main {
    height: 91.16px;
    background: #eaeaf1a3;

    display: flex;
    align-items: center;

}

/* 導覽列 左方logo  */

img {
    display: block;
}

.main-logo {
    width: 165px;
    margin: 0 10px;


    /* 隱藏文字 */
    font-size: 0;
    overflow: hidden;

}

/* 導覽列 右方連結 */

.links {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.links a {
    margin: 0 5px;
}




/* 導覽列 下方 Border */
.header-border {
    height: 7px;
    background-image: linear-gradient(to right, #e7211b 10%, #333 10%);
}


/* 頂端固定導覽列  */

.main-header {
    position: fixed;
    width: 100%;

}


/* --------------------------- */
/*  main        ------ start --------  */


/* 導覽列 下方 main區 */
.main-session {

    /* 配合導覽列 fixed 而 增加固定往下的高度 97.16px */
    padding-top: 97.16px;

    /* main 區塊 寬度固定: 960px */
    width: 960px;
    margin: auto;

    /* 背景圖 */
    background: url(/css-homework-04/img/bg.png) repeat;
}





/* --------------------------- */
/*  五大優勢        ------ start --------  */


.session-main {

    /* 文字顏色 */
    color: #333;

    text-align: center;

    /* 五大優勢上方卡 50px高度 */
    padding-top: 50px;

}

.title {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

/* 五大優勢下方的 Border */
.title-line {
    width: 38px;
    height: 4px;
    border-bottom: #000 3px solid;

    margin: 18px auto 0;
}


.session-main .nav-list ul {

    display: flex;
    justify-content: center;



}

.session-main .nav-list ul li {

    margin: 5px 5px;

    width: 184px;
    height: 36px;

    /* ★ */
    /* 設定 div 的高度和文字高度一樣，就可以簡單達到垂直置中的效果。 */
    line-height: 36px;
    /* ★ */

    border: #333 1px dotted;
    border-bottom: #ae0014 2px solid;


}



/* --------------------------- */
/*  圖文交錯區        ------ start --------  */








/* 紅色區塊 */



/* 革新區塊 */
.area-important{
    width: 682px;
    height: 275px;
    background-color: #ddd;
}
.area-important ul {
    list-style: none;
}

.area-important ul li::before {
    content: "\2022";
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
    text-indent: -1em;
    
}




/* 灰色區塊 */
.area-square {
    width: 439px;
    height: 290px;
    background-color: #eeeeee;

}





/* --------------------------- */
/* footer 區  ------ start --------  */


footer {
    height: 1000px;
}