
        /* TODO */
        /* 
          
        
        */
        /* 用12欄寬度換算 */
        /* 共擠欄/12*100 */
        .col-1 {
            width: 8.3333333333%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-2 {
            width: 16.6666666667%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-3 {
            width: 25%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-4 {
            width: 33.3333333333%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-5 {
            width: 41.6666666667%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-6 {
            width: 50%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-7 {
            width: 58.3333333333%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-8 {
            width: 66.6666666667%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-9 {
            width: 75%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-10 {
            width: 83.3333333333%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-11 {
            width: 91.6666666667%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

        .col-12 {
            width: 100%;
            /* padding: 0 15px;
            box-sizing: border-box; */
        }

    

        .container {
            max-width: 1200px;
            margin: auto;
            /* 設定容器最大寬度 */

            --gap : 15px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            /* 將物件設定flex，並且可以換行 */

            margin-left: calc(var(--gap) *-1);
            margin-right: calc(var(--gap) *-1);


        }
        /* 重新結構CSS */
        [class*="col-"] {
            padding: 15px;
            box-sizing: border-box;
        }

        @media screen and (min-width:768px) {
            .col-md-1 {
                width: 8.3333333333%;
            }

            .col-md-2 {
                width: 16.6666666667%;
            }

            .col-md-3 {
                width: 25%;
            }

            .col-md-4 {
                width: 33.3333333333%;
            }

            .col-md-5 {
                width: 41.6666666667%;
            }

            .col-md-6 {
                width: 50%;
            }

            .col-md-7 {
                width: 58.3333333333%;
            }

            .col-md-8 {
                width: 66.6666666667%;
            }

            .col-md-9 {
                width: 75%;
            }

            .col-md-10 {
                width: 83.3333333333%;
            }

            .col-md-11 {
                width: 91.6666666667%;
            }

            .col-md-12 {
                width: 100%;
            }
        }

        @media screen and (min-width:1024px) {
            .col-lg-1 {
                width: 8.3333333333%;
            }

            .col-lg-2 {
                width: 16.6666666667%;
            }

            .col-lg-3 {
                width: 25%;
            }

            .col-lg-4 {
                width: 33.3333333333%;
            }

            .col-lg-5 {
                width: 41.6666666667%;
            }

            .col-lg-6 {
                width: 50%;
            }

            .col-lg-7 {
                width: 58.3333333333%;
            }

            .col-lg-8 {
                width: 66.6666666667%;
            }

            .col-lg-9 {
                width: 75%;
            }

            .col-lg-10 {
                width: 83.3333333333%;
            }

            .col-lg-11 {
                width: 91.6666666667%;
            }

            .col-lg-12 {
                width: 100%;
            }
        }

        @media screen and (min-width:1200px) {
            .col-xl-1 {
                width: 8.3333333333%;
            }

            .col-xl-2 {
                width: 16.6666666667%;
            }

            .col-xl-3 {
                width: 25%;
            }

            .col-xl-4 {
                width: 33.3333333333%;
            }

            .col-xl-5 {
                width: 41.6666666667%;
            }

            .col-xl-6 {
                width: 50%;
            }

            .col-xl-7 {
                width: 58.3333333333%;
            }

            .col-xl-8 {
                width: 66.6666666667%;
            }

            .col-xl-9 {
                width: 75%;
            }

            .col-xl-10 {
                width: 83.3333333333%;
            }

            .col-xl-11 {
                width: 91.6666666667%;
            }

            .col-xl-12 {
                width: 100%;
            }
        }


        /* example */
        .data {
            background-color: grey;
        }